{#
  Template for a Progress component.
  
  Available variables:
    - valuenow: The current value of the progress bar.
    - valuemax: The maximum value of the progress bar.
    - valuemins: The minimum value of the progress bar.
    - aria_label: ARIA label for the progress bar.
    - progress_utility_classes: Additional classes to be added to the progress wrapper.
    - progress_bar_utility_classes: Additional classes to be added to the progress bar.
    - progress_bar_color: The color of the progress bar (e.g., primary, secondary, success).
    - progress_message: Additional message to be displayed alongside the progress bar.
    - attributes: Additional HTML attributes for the progress bar wrapper.
    - progress_bar_attributes: Additional HTML attributes for the progress bar.
    - striped: Whether the progress bar should be striped.
    - animated: Whether the progress bar should be animated.
#}
{% apply spaceless %}
{% set valuemax = valuemax|default(100) %}
{% set valuenow = valuenow|default(0) %}
{% set valuemins = valuemins|default(0) %}
{% set label = label|default('') %}
{% set height = height|default(16) %}
{% set striped = striped|default(true) %}
{% set animated = animated|default(true) %}
{% set stacked = stacked|default(false) %}

{#
  Define the classes for the progress wrapper and progress bar.
  You can customize these classes based on your requirements.
#}
{% set progress_classes = [
  'progress',
]|merge(progress_utility_classes ?: []) %}

{% set progress_bar_classes = [
  'progress-bar',
  color ? 'bg-' ~ color : '',
  striped ? 'progress-bar-striped' : '',
  animated ? 'progress-bar-animated' : '',
]|merge(progress_bar_utility_classes ?: []) %}

{% 
  set progress_attributes = create_attribute()
  .setAttribute('role', 'progressbar')
  .setAttribute('aria-label', label|default('Progress bar'|trans))
  .setAttribute('aria-valuenow', valuenow)
  .setAttribute('aria-valuemin', valuemins)
  .setAttribute('aria-valuemax', valuemax) 
%}
{% set progress_bar_attributes = create_attribute() %}

{% if height %}
  {% set progress_attributes = progress_attributes.setAttribute('style', 'height: ' ~ height ~ 'px;') %}
{% endif %}

{% if not stacked %}
  {% set progress_bar_attributes = progress_bar_attributes.setAttribute('style', 'width: ' ~ valuenow ~ '%;') %}
{% endif %}

<div {{ progress_attributes.addClass(progress_classes) }}>
  <div {{ progress_bar_attributes.addClass(progress_bar_classes) }}>
    {% if label %}
      {{ label }}
    {% endif %}
  </div>
</div>
{% endapply %}
