{#
/**
 * @file
 * Template for a Offcanvas component.
 *
 * Available config:
 * - offcanvas_title: (optional) Offcanvas title.
 * - offcanvas_title_tag: (optional) Offcanvas title tag.
 * - offcanvas_title_attributes: (optional) Offcanvas title attributes.
 * - offcanvas_title_utility_classes: (optional) Offcanvas title utility classes.
 * - offcanvas_button_content: (optional) Offcanvas button content.
 * - offcanvas_button_attributes: (optional) Offcanvas button attributes.
 * - offcanvas_utility_classes: (optional) Offcanvas utility classes.
 * - offcanvas_header_utility_classes: (optional) Offcanvas header utility classes.
 * - offcanvas_body_utility_classes: (optional) Offcanvas body utility classes.
 * - offcanvas_content: (optional) Offcanvas body.
 * - offcanvas_toggler: (optional) Offcanvas toggler.
 * - close_button: (optional) Close button.
 * - show_by_default: (optional) Shown by default.
 * - backdrop: (optional) Backdrop: 'true' | 'false' | 'static'.
 * - body_scrolling: (optional) Body scrolling.
 * - offcanvas_id: (optional) Offcanvas ID.
 * - placement: (optional) Placement 'start' | 'end' | 'top' | 'bottom'.
 */
#}
{% apply spaceless %}

{% set offcanvas_title_tag = offcanvas_title_tag|default('h5') %}
{% set close_button = close_button ?? true %}
{% set show_by_default = show_by_default ?? false %}
{% set backdrop = backdrop|default('true') %}
{% set body_scrolling = body_scrolling ?? false %}
{% set offcanvas_id = offcanvas_id|default('offcanvas-' ~ random(1000)) %}
{% set placement = placement|default('start') %}

{%
  set offcanvas_attributes = create_attribute()
    .setAttribute('tabindex', '-1')
    .setAttribute('id', offcanvas_id)
    .setAttribute('data-bs-backdrop', backdrop)
    .setAttribute('data-bs-scroll', body_scrolling ? 'true' : 'false')
%}

{%
  set offcanvas_header_attributes = create_attribute()
    .setAttribute('aria-hidden', 'true')
%}

{%
  set offcanvas_button_attributes = create_attribute()
    .setAttribute('type', 'button')
    .setAttribute('data-bs-toggle', 'offcanvas')
    .setAttribute('data-bs-target', '#' ~ offcanvas_id)
    .setAttribute('aria-controls', offcanvas_id)
%}

{% set offcanvas_body_attributes = create_attribute() %}
{% set offcanvas_title_attributes = offcanvas_title_attributes ?? create_attribute() %}

{%
  set offcanvas_classes = [
    'offcanvas',
    'offcanvas-' ~ placement,
    show_by_default ? 'show' : '',
  ]|merge(offcanvas_utility_classes ?: [])
%}

{%
  set offcanvas_header_classes = [
    'offcanvas-header'
  ]|merge(offcanvas_header_utility_classes ?: [])
%}

{%
  set offcanvas_body_classes = [
    'offcanvas-body'
  ]|merge(offcanvas_body_utility_classes ?: [])
%}

{%
  set offcanvas_title_classes = [
    'offcanvas-title'
  ]|merge(offcanvas_title_utility_classes ?: [])
%}

{% block offcanvas_toggler %}
  {%
    include 'radix:button' with {
      content: offcanvas_button_content,
      button_attributes: offcanvas_button_attributes,
    }
  %}
{% endblock %}

<div {{ offcanvas_attributes.addClass(offcanvas_classes) }}>
  {% block offcanvas_header %}
    {% if close_button or offcanvas_title %}
      <div {{ offcanvas_header_attributes.addClass(offcanvas_header_classes) }}>
        {% if offcanvas_title %}
          {%
            include 'radix:heading' with {
              heading_html_tag: offcanvas_title_tag,
              content: offcanvas_title,
              heading_attributes: offcanvas_title_attributes,
              heading_utility_classes: offcanvas_title_classes
            }
          %}
        {% endif %}

        {% if close_button %}
          {%
            include 'radix:close-button' with {
              close_button_attributes: create_attribute()
                .setAttribute('data-bs-dismiss', 'offcanvas')
            }
          %}
        {% endif %}
      </div>
    {% endif %}
  {% endblock %}

  {% if offcanvas_content %}
    <div {{ offcanvas_body_attributes.addClass(offcanvas_body_classes) }}>
      {% block offcanvas_body %}
        {{ offcanvas_content }}
      {% endblock %}
    </div>
  {% endif %}
</div>

{% endapply %}
