{#
/**
 * @file
 * Theme override for a single link.
 *
 * Available variables:
 * - content: An associative array with '#url' and '#title' keys representing
 *         URL and Title of the task.
 * - is_active: A boolean flag indicating if the task link is for the active route.
 */
#}
{% apply spaceless %}

{% set nav_item_attributes = nav_item_attributes ?: create_attribute() %}

<li {{ nav_item_attributes.addClass('nav-item') }}>
  {{ link|add_class('nav-link', is_active ? 'active' : '') }}
</li>

{% endapply %}
