{#
/**
 * @file
 * Template for Alert component.
 *
 * Available config:
 * - type: primary | secondary | success | danger | warning | info | light | dark
 * - heading: string,
 * - dimissible: true | false
 * - alert_utility_classes: An array of utility classes.
 */
#}
{% apply spaceless %}

{% set alert_attributes = alert_attributes ?: create_attribute() %}
{% set dismissible = dismissible ?? true %}
{% set type = type ?? 'primary' %}

{%
  set alert_classes = [
    'alert',
    type ? 'alert-' ~ type,
    dismissible ? 'alert-dismissible',
  ]|merge(alert_utility_classes ?: [])
%}

<div {{ alert_attributes.addClass(alert_classes) }} role="alert">
  {% block alert_heading %}
    {% if heading %}
      <h4 class="alert-heading">{{ heading }}</h4>
    {% endif %}
  {% endblock %}

  {% block content %}
    {{ content }}
  {% endblock %}

  {% if dismissible %}
    {%
      include 'radix:close-button' with {
        close_button_attributes: create_attribute()
          .setAttribute('data-bs-dismiss', 'alert')
      }
    %}
  {% endif %}
</div>

{% endapply %}
